/* Import font 'myriad-pro' via adobe fonts */
@import url("https://use.typekit.net/fus1xmz.css");

/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #FFFFFF;
  background-color: #180022;
}

#background {
  position: sticky;
  top: 0px;
  left:0px;
  
  /*Fallback if gradeints don't work */
  background: #180022;
  /*Linear gradient... */
  background: radial-gradient(at center,#180022, #3560FF);
}

body, input, textarea {
  font-family: myriad-pro, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1, h2, h3, p {
  font-style: normal; 
}

h1 {
  /*Bold*/
  font-weight: 700;
  font-size: 3.5em;

  grid-row: 3/6;
}

p{ 
  /*Regular*/
  font-weight: 400;
}

li {
  /*Light*/
  font-weight: 300;
}

h2, h3, button {
  /*Semibold*/
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  margin-top: 1em;
  margin-bottom: 1em;
  
  height: max-content;
  grid-row: 1/2;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

p, li {
  font-size: 1.125em;
}

li, article a {
  text-transform: capitalize;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: #B5FFD9;
}

/*align text*/
.align-center, h2 {
  text-align: center;
}

.center {
  margin: auto;
}

/*body container*/
#container {
  width: 85%;
  margin: auto;
}

/*main wrapper*/
/*
.wrapper {
  overflow: auto;
  height: 720px;
}
*/

/*grid*/
.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.wrapper .grid-12 {
  grid-template-rows: repeat(10, 1fr);
}

.grid-12 {
  grid-template-rows: repeat(3, 1fr);
}
.span-12 {
  grid-column: 1/13;
}
.span-8 {
  grid-column: 3/11;
}
.span-6 {
  grid-column: 4/10;
}
.span-2 {
  grid-column: 6/8;
}

/*HEADER*/
#home {
  padding: 4px;
  vertical-align: bottom;
}

/*nav*/
nav {
  padding: 12px 0px 0px 0px;
  overflow: hidden;
}

nav ul {
  float: right ;
}

nav li {
  display: inline;
  float: left;
}

nav li a {
  color: #3560FF;
  padding: 16px 16px 16px 4px;
  margin: 12px 0px 0px 12px;
}

li a {
  display: block;
}

nav li a:hover {
  color: #AE00FB;
  border-bottom: 1px solid #AE00FB;
  padding-bottom: 15px;
}

/*MAIN*/
#video-main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.wrapper p {
  grid-row: 6/7;
}

.wrapper a {
  grid-row: 10/11;
  color: #AE00FB;
}

.scroll-arrow {
  position: absolute;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-top: -2.5em;
  margin-left: -3.3em;
  border-left: 2px solid #AE00FB;
  border-bottom: 2px solid #AE00FB;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  animation: scroll-down 1.5s infinite;
  -webkit-animation: scroll-down 1.5s infinite;
}

@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scroll-down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*SECTIONS*/
section {
  padding-top: 3em;
  padding-bottom: 4em;
}

section, article:nth-child(4) {
  clear: left;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  margin: 0 1.5em;
  flex: 1;
}

/*about section*/
#section-about p {
  grid-row: 2/4;
}

#about-images {
  background-color: #3560FF;
  position: absolute;

  width: 350px;
  height: 500px;
  z-index: -1;
  -webkit-animation: move-up 25s infinite ease-out;
  animation: move-up 25s infinite ease-out;
}

@-webkit-keyframes move-up {
  0% {
      top: 900px;
  }
  50% {
      top: 750px;
  }
  100% {
    top: 900px;
}
}
@keyframes move-up {
  0% {
      top: 900px;
  }
  50% {
      top: 750px;
  }
  100% {
    top: 900px;
}
}

/*service section*/
#section-services .row {
  grid-row: 2/4;
  flex-direction: row;
}

.icon {
  width: 46px;
  height: 46px;
  margin-bottom: 1.6em;
}

#hologram-icon {
  background: url('../images/icons/servicessprites.png') 0 0 ;
}

#twitch-icon {
  background: url('../images/icons/servicessprites.png') -46px 0;
}

#audio-icon {
  background: url('../images/icons/servicessprites.png') -92px 0;
}

/*support section*/
#section-support article {
  padding-top: 1.3em;
  padding-bottom: 3em;
  width: 45%;
  float: left;
}

.moretext {
  display: none;
}

.moreless-button {
  float: right;
}

article a {
  color: #AE00FB;
}

.read-arrow {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  left: -10px;
  transition: 0.4s ease;
  margin-top: -0.1em;
  margin-left: 2em;
  text-align: left;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: point-down 2s infinite;
  animation: point-down 2s infinite;
}

.read-arrow::before, .read-arrow::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: #AE00FB;
  transition: 0.4s ease;
}

.read-arrow::after {
  position: absolute;
  transform: rotate(90deg);
  top: -5px;
  left: 5px;
}

@-webkit-keyframes point-down {
  0% {
    -webkit-transform: rotate(45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
  }
  40% {
    -webkit-transform:rotate(45deg) translate(0, 0);
  }
}
@keyframes point-down {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  20% {
    transform: rotate(45deg) translate(4px, 4px);
  }
  40% {
    transform: rotate(45deg) translate(0, 0);
  }
}

.active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) translate(-5px, -5px);
}

.active::before {
  transform: translate(10px,0);
}

.active::after {
  transform: rotate(90deg) translate(10px, 0);
}


/*contact section*/
.left-contact-container, .right-contact-container {
  grid-row: 2/13;
}

.left-contact-container {
  grid-column: 1/7;
  grid-row: 2/16;
}

.contact-list, .social-media-lists {
margin-top: 3em;
margin-bottom: 3em;
}

.contact-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 5em;
  margin-left: 5em;
}

.contact-list li {
  padding-bottom: 1.5em;
  text-transform: none;
}

/*contact icon*/
#pin-icon {
  background: url(../images/icons/contactsprints.png) -32px 0;
}

#phone-icon {
  background: url(../images/icons/contactsprints.png) 0 0;
}

#mail-icon {
  background: url(../images/icons/contactsprints.png) -64px 0;
}

hr {
  border: 1px solid #3560FF;
  margin-bottom: 1.6em;
}

/*social icon*/
#github-icon {
  background: url(../images/icons/socialssprites.png) 0 0;
}

#youtube-icon {
  background: url(../images/icons/socialssprites.png) -46px 0;
}

#instagram-icon {
  background: url(../images/icons/socialssprites.png) -92px 0;
}

/*form*/
.right-contact-container {
  grid-column: 8/13;
  width: 100%;
  margin-top: -2.5em;
}

#contact-form {
  background-color: white;
  padding: 1px 1em 0.5em;
  border-radius: 3px;
}

#contact-form h2 {
  color: #180022;
}

#contact-form li {
  display: flex;
  padding: 0.5em;
}

#contact-form input, #contact-form textarea {
  border: 1px solid lightgray;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: 1px solid #B5FFD9;
}

#contact-form input, #contact-form textarea, #contact-form button {
  flex: 1;
  padding: 1em;
}

#contact-form button {
  background: #180022;
  color: #3560FF;
  margin: 0.5em 0;
  border-radius: 5px;
}

#contact-form button:hover {
  color: #AE00FB;
}

/*FOOTER*/
footer {
  padding: 10% 0 2% 0;
}

footer img {
  float: left;
  margin-right: 3em;
}

footer p {
  clear: right;
}

.copyright {
  text-transform: uppercase;
  margin: 2em 0 0;
}